## Generated experiment outputs
**/output/

## Built LAPACK artifacts
Code/LAPACK/build/
Code/LAPACK/LAPACK_src/

## Built OpenBLAS artifacts
Code/openblas/OpenBLAS-src/
Code/openblas/openblas_install/
Code/armpl/arm-performance-libraries_25.07_rpm_gcc.tar
Code/armpl/arm-performance-libraries_25.07_rpm/
.idea/
Code/DSYEV_DSYEVD/script/tools/
Code/DSYEV_DSYEVD/src/openblas_info
